$action-button-color: rgb(153,157,156);
$highlight-text-color: rgb(244, 153, 188);
$ui-base-color: rgba(29,32,41,0.6);
$secondary-text-color: rgb(225,225,225);

@import 'application';

@import 'mfc/mastodonFlat';
@import 'infinity-bridge/palette';
@import 'infinity-bridge/overrides';

@import 'mods/display_breakname';
@import 'mods/display_fullname';
@import 'mods/display_browserfont';
@import 'mods/display_circleavatar';
@import 'mods/display_collapsedinteractions';
@import 'mods/display_fadedinteractions';
@import 'mods/display_transparentmedia';
@import 'mods/layout_1600px';
@import 'mods/layout_elefriend';
@import 'mods/layout_widercolumns';
@import 'mods/layout_mobile_bottombar';
