$action-button-color: rgb(243, 226, 124);
$highlight-text-color: rgb(239, 249, 126);
$ui-highlight-color: $highlight-text-color;
$primary-text-color: rgb(246, 137, 66);
$ui-base-color: rgba(255, 152, 121, 0.7);
$darker-text-color: rgb(130, 13, 17);
$secondary-text-color: rgb(255, 85, 85);

@import 'application';

@import 'mfc/mastodonFlat';
@import 'strawberry/palette';
@import 'strawberry/overrides';

@import 'mods/display_breakname';
@import 'mods/display_fullname';
@import 'mods/display_browserfont';
@import 'mods/display_circleavatar';
@import 'mods/display_collapsedinteractions';
@import 'mods/display_fadedinteractions';
@import 'mods/display_transparentmedia';
@import 'mods/layout_1600px';
@import 'mods/layout_elefriend';
@import 'mods/layout_widercolumns';
@import 'mods/layout_mobile_bottombar';
